@using SellIt.Areas.ViewModel
@model IEnumerable<UserProductsViewModel>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="cold-md-4">
            <div class="card-body">
                <section class="p-0">
                    <a asp-action="GetProductById" asp-controller="Product" class="btn" asp-route-id="@item.Id">
                        <img width="400px" src="@item.CoverPhoto" alt="@item.Name">
                    </a>
                    <div>
                    <ul class="list-group">
                        <li class="list-group-item">Category: @item.CategoryName</li>
                        <li class="list-group-item">@item.Name</li>
                        <li class="list-group-item">@item.Description</li>
                        <li class="list-group-item">@item.Price $</li>
                    </ul>
                    </div>
                    @if (item.IsAprooved == false)
                    {
                        <h5 style="color:red">The item is checking </h5>
                    }
                </section>
            </div>
        <div>
        </div>
        </div>
  
    }
</div>