@using SellIt.Areas.ViewModel
@model UserByIdViewModel

<h4>Username: @Model.UserName</h4>
<h4>Role: @Model.RoleName</h4>
<h4>Email: @Model.Email</h4>
<h4>Date: @Model.DateCreated</h4>
<h4>
    Product:
    <a class="navbar-brand" asp-action="UserProducts" asp-controller="User" asp-route-UserId="@Model.UserId">Products</a>
</h4>

<td><a asp-action="SetRole" asp-controller="User" class="btn btn-dark" asp-route-UserId="@Model.UserId">Set Role</a></td>
