@using Microsoft.IdentityModel.Tokens
@using SellIt.Core.ViewModels.Messages
@model IEnumerable<AllMessagesViewModel>

<h1>Messages</h1>

@foreach (var message in Model)
{
    <div class="message-container">
        <div class="message-header">
            <h3>@message.ProductName</h3>
        </div>
        <div class="message-content">
            <div class="message-image">
                <img width="100" src="@message.Photo" alt="Product Image" />
            </div>
            <div class="message-details">
                <p>@message.Text</p>
                <p>Sent by: @message.UserName</p>
                <p>Date: @message.Date</p>
            </div>
        </div>

        <h4>Reply Messages</h4>
        <div class="reply-messages">
            @if (message.ReplyMessages.Any())
            {
                foreach (var reply in message.ReplyMessages)
                {
                    <div class="reply">
                        <p>@reply.ReplyText</p>
                        <p>Replied by: @reply.ReplyerUserName</p>
                        <p>Date: @reply.ReplyerDate</p>
                    </div>
                }
            }
            else
            {
                <p>No reply messages.</p>
            }
        </div>
    </div>
}

