@using SellIt.Core.ViewModels.Messages
@model ProductMessagesById

<p>@Model.ProductName</p>
<p><img width="400px" src="@Model.Image"></p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Text</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.UserName</td>
            <td>@Model.Text</td>
            <td>@Model.Date</td>
        </tr>
        @foreach (var replyMessage in Model.ReplyMessages)
        {
            <tr>
                <td>@replyMessage.ReplyerUserName</td>
                <td>@replyMessage.ReplyText</td>
                <td>@replyMessage.Date</td>
            </tr>
        }
        <a id="random" asp-route-id="@Model.Id" class="btn btn-success">Reply</a>
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div id="contentContainer">
    <!-- The content will be dynamically updated here -->
</div>

<script>
    let randomButton = $("#random");
    randomButton.on("click", function(event) {
        event.preventDefault();
        let inputElement = $('<input type="text" id="textInput">');
        let sendButton = $('<button id="sendButton">Send</button>');
        $('#contentContainer').empty().append(inputElement).append(sendButton);
        sendButton.on("click", function () {
            let inputValue = $('#textInput').val();
           
            var itemId = @Model.Id;
            $.ajax({
                url: `/Message/ReplyMessage`,
                type: "POST",
                data: { id: itemId, replyMessage: inputValue },
                success: function (response) {
                    window.location.href = `/Message/GetProductMessageById?id=${itemId}`;
                },
                error: function (xhr, status, error) {
                    console.log("An error occurred:", error);
                }
            });      
        });
    });
</script>

