@using SellIt.Core.ViewModels.Adress
@using SellIt.Core.ViewModels.Product
@model AddEditProductViewModel

<div class="col-10">
    <div>
        <form method="post" enctype="multipart/form-data">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GalleryFiles"></label>
                    <input asp-for="GalleryFiles" class="form-control" />
                    <span asp-validation-for="GalleryFiles" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <label asp-for="CategoryName"></label>
                <select class="form-control text-primary" id="categories" asp-for="CategoryName">
                    <option selected disabled><------></></option>
                    @foreach (var category in (IEnumerable<AddEditProductViewModel>)this.ViewData["categories"])
                    {
                        <option value="@category.CategoryName">@category.CategoryName</option>
                    }
                </select>
                <span asp-validation-for="CategoryName" class="text-danger"></span>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" onfocus="showMessage()" />
                    <div class="message-container"></div>
                </div>
                <div class="form-group">
                    <label asp-for="AdressId"></label>
                    <input asp-for="AdressId" id="inputField" class="form-control" />
                    <button id="viewDataButton" onclick="copyToInputField(event)">@((string)ViewData["address"])</button>
                </div>
                @* <input type="text" id="inputField" class="form-control" value="" />
                <button id="viewDataButton">@((string)ViewData["address"])</button>*@
        </form>
        <div />
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-primary font-weight-bold">Create Product</button>
        </div>
    </div>
</div>

<script>
    function showMessage() {
        var messageContainer = document.querySelector('.message-container');
        messageContainer.dataset.message = "If you have phone number on your profile it will be wrote atomaticaly";
    }

    // Function to handle copying the value to the input field
  function copyToInputField(event) {
    event.preventDefault(); // Prevent any default button behavior or form submission
    var viewDataValue = '@((string)ViewData["address"])';
    var inputField = document.getElementById('inputField');

    // Set the value in the input field
    inputField.value = viewDataValue;
  }


</script>

<style>
    .form-group {
        position: relative;
    }

        .form-group input:focus + .message-container::after {
            content: attr(data-message);
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(110%, -50%);
            padding: 6px;
            background-color: #f1f1f1;
            color: #333;
            border-radius: 4px;
            font-size: 14px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
</style>