@using SellIt.Core.ViewModels.Product
@model AllProductsViewModel


<h6>Viewed: @Model.Viewed</h6>
<h6>Liked: @Model.Liked</h6>
<div class="row">
    <a asp-action="Like" asp-controller="Product" class="btn btn-primary" asp-route-id="@Model.Id">Like </a>
    <div>
        <h2 class="card-title">Category: @Model.CategoryName</h2>
        <div class="col-md-4">
            <div class="col-md-10">
                <div class="card-body">
                    <img src="@Model.Image" width="300" class="mr-3 img-responsive">
                    <h2 class="card-title">Title: @Model.Name</h2>
                </div>
                <div>
                    <h2 orange" class="card-title">Description: @Model.Description</h2>
                </div>
            </div>
        </div>
    </div>

</div>