@using SellIt.Core.ViewModels.Product
@model IEnumerable<ProductViewModel>

@foreach (var item in Model)
{
    <div class="row">
        <section class="p-0">
    <a asp-action="GetProductById" asp-controller="Product" class="btn" asp-route-id="@item.Id">
        <img width="400px" src="@item.CoverPhoto" alt="@item.Name">
    </a>
            <ul class="list-group">
                <li class="list-group-item">Category: @item.CategoryName</li>
                <li class="list-group-item">Title: @item.Name</li>
                <li class="list-group-item">Description: @item.Description</li>
                <li class="list-group-item">Price: @item.Price $</li>
            </ul>
        </section>
    </div>
}

