@using SellIt.Core.ViewModels.Admin
@model UserByIdViewModel

<h4>Username: @Model.UserName</h4>
@if (@Model.RoleName == null)
    {
        <h4>Role: (Doesn`t have a role at the moment)</h4>
    } 
    else
    {
        <h4>Role: @Model.RoleName</h4>
    }
<h4>Email: @Model.Email</h4>
<h4>Date Created: @Model.DateCreated</h4>
<h4>
    Products: @Model.ProductsCount
    <a class="btn btn-outline-info"  asp-action="UserProducts" asp-controller="Admin" asp-route-UserId="@Model.UserId">View</a>
</h4>

<td><a asp-action="SetRole" asp-controller="Admin" class="btn btn-outline-warning" asp-route-UserId="@Model.UserId">Set Role</a></td>
