@using SellIt.Core.ViewModels.ProductMessage
@model IEnumerable<SendMessageViewModel>


@foreach (var item in Model)
{
    <div class="row">
    <img width="300px" src="@item.ProductImage">
    <h3>@item.ProductName</h3>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Message</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.UserName</td>
                <td>@item.Text</td>
            </tr>

            @foreach (var item2 in item.ReplyProductMessages)
            {
                <tr>
                    <td>@item2.ReplyerUserName</td>
                    <td>@item2.ProductMessageText</td>
                </tr>
            }
        </tbody>
        <td>
            <a asp-action="ReplyProductMessage" asp-controller="ReplyProductMessage" class="btn btn-primary" asp-route-id="@item.Id">Reply</a>
        </td>
    }
</table>